
@{
    ViewData["Title"] = "CadastroRealizado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastro Realizado</h2>
<p> Seu cadastro foi realizado com sucesso! Faça @Html.ActionLink("login", "Login", "Conta") para entrar</p>
