@model CalculoParaAcoesMVC.Models.ViewModels.ContaLoginViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Login: </h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.EditorForModel()


    @Html.ActionLink("Esqueci minha senha", "EsqueciSenha")
    <br />
    <input type="submit" value="Fazer Login" />
} 