@model CalculoParaAcoesMVC.Models.ViewModels.ContaRegistroViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Registrar: </h2>

@using (Html.BeginForm())
{
    <h4> Completo o cadastro de sua conta! </h4>
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.EditorForModel()

    <br />

    <input type="submit" value="Registrar" class="btn btn-default" />
}