@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Desenvolvedor: </strong> Tiago Reolon Vazzoller<br />
    <strong>E-mail:</strong> <a href="mailto:tiago_rv0@hotmail.com">tiago_rv0@hotmail.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/tiagorv0">GitHub Tiago</a><br />
</address>
